<div class="container">
    <div class="card my-5">

        <div class="card-header">
            <h2>Ejemplo factura</h2>
        </div>

        <div class="card-body">
            
                <!-- 
                    se copia estas lineas al componente view y asi subdividir

                    <ul class="list-group">
                    <li class="list-group-item">
                        id: {{ invoice.id }}
                    </li>
                    <li class="list-group-item">
                        Nombre: {{ invoice.name }}
                    </li>
                </ul> 
            -->
            <!-- remplazamos por la siguiente manera -->
            <app-invoice-view [id]="invoice.id" [name]="invoice.name"></app-invoice-view>
        
            
            <div class="row my-3">
                <div class="col">
                    <!-- cortamos estos datos a subcomponente
                        <h3>Datos de cliente</h3>
                    <ul class="list-group">
                        <li class="list-group-item active">{{invoice.client.name}} {{invoice.client.lastname}}</li>
                        <li class="list-group-item">{{invoice.client.address.country}} / {{invoice.client.address.city}}</li>
                        <li class="list-group-item">{{invoice.client.address.street}} {{invoice.client.lastname}}</li>
                    </ul> 
                -->
                <app-client-view [client]="invoice.client"></app-client-view>
                </div>
                <div class="col">
<!--                     <h3>Datos de la Empresa</h3>
                    <ul class="list-group">
                        <li class="list-group-item active">{{invoice.company.name}}</li>
                        <li class="list-group-item">{{invoice.company.fiscalNumber}}</li>
                    </ul> -->
                    <app-company-view [company]="invoice.company"></app-company-view>
                </div>
            </div>

            <div>
                <!-- <h4>Detalle de factura</h4>
                <table class="table - table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>product</th>
                            <th>price</th>
                            <th>quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of invoice.items; track $index) {
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.product}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                        }
                    </tbody>
                </table> -->
                <app-list-items [items]="invoice.items" (removeEventEmitter)="removeItem($event)"></app-list-items>
                <app-total [total]="invoice.total"></app-total>
                <app-form-item (addItemEventEmitter)="addItem($event)"></app-form-item>
            </div>
        </div>

    </div>
</div>